# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.pustok_front_to_back.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
