@{
    ViewData["Title"] = "403 - Access Denied";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>403 - Access Denied</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #container {
            position: fixed;
            touch-action: none;
        }

        .message {
            padding: 0 20px;
            font-family: Helvetica, Arial;
            position: fixed;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
        }

        p {
            margin: 2px;
            font-size: 24px;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js"></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        void main() {
            gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        uniform vec2 u_resolution;
        uniform float u_time;
        uniform vec2 u_mouse;
        uniform sampler2D u_plate;
        
        const int octaves = 2;
        const float seed = 43758.5453123;
        const float seed2 = 73156.8473192;
        const float eps = 0.005;
        
        vec3 movement = vec3(.0);
        
        const int maxIterations = 256;
        const float stepScale = .7;
        const float stopThreshold = 0.001;
        
        const float PI = 3.14159;
        
        vec3 path(float delta) {
            return vec3(0., 0., -delta*3.);
        }
        
        float length2( vec2 p ) {
            return sqrt( p.x*p.x + p.y*p.y );
        }

        float length6( vec2 p ) {
            p = p*p*p; p = p*p;
            return pow( p.x + p.y, 1.0/6.0 );
        }

        float length8( vec2 p ) {
            p = p*p; p = p*p; p = p*p;
            return pow( p.x + p.y, 1.0/8.0 );
        }
        
        float sdBox( vec3 p, vec3 b ) {
            vec3 d = abs(p) - b;
            return min(max(d.x,max(d.y,d.z)),0.0) + length(max(d,0.0));
        }
        
        float udBox( vec3 p, vec3 b ) {
            return length(max(abs(p)-b,0.0));
        }
        
        float udRoundBox( vec3 p, vec3 b, float r ) {
            return length(max(abs(p)-b,0.0))-r;
        }
        
        float sdSphere( vec3 p, float s ) {
            return length(p)-s;
        }
        
        float sdCylinder( vec3 p, vec3 c ) {
            return length(p.xz-c.xy)-c.z;
        }
        
        float sdCappedCylinder( vec3 p, vec2 h ) {
            vec2 d = abs(vec2(length(p.xz),p.y)) - h;
            return min(max(d.x,d.y),0.0) + length(max(d,0.0));
        }
        
        float sdTorus82( vec3 p, vec2 t ) {
            vec2 q = vec2(length2(p.xz)-t.x,p.y);
            return length8(q)-t.y;
        }
        
        float sdPlane( vec3 p) {
            return p.y;
        }
        
        float smin(float a, float b, float k) {
            float res = exp(-k*a) + exp(-k*b);
            return -log(res)/k;
        }
        
        vec3 random3( vec3 p ) {
            return fract(sin(vec3(dot(p,vec3(127.1,311.7,319.8)),dot(p,vec3(269.5,183.3, 415.2)),dot(p,vec3(362.9,201.5,134.7))))*43758.5453);
        }
        
        vec2 random2( vec2 p ) {
            return fract(sin(vec2(dot(p,vec2(127.1,311.7)),dot(p,vec2(269.5,183.3))))*43758.5453);
        }
        
        float world_sdf(in vec3 p) {
            float world = 10.;
            
            vec2 pxy = p.xy;
            float pz = p.z;
            float delta = pz * .3;
            float s = sin(delta);
            float c = cos(delta);
            mat2 rot = mat2(c, -s, s, c);
            
            p.z = mod(p.z, 1.5) - .75;
            p.xy *= rot;
            
            float path = path(u_time).z;
            float animation = smoothstep(-2., -1.5, path - pz + p.z);
            
            const float wallWidth = .02;
            const float doorWidth = .23;
            
            world = udBox(p, vec3(5.,10.,wallWidth));
            world = min(world, udBox(p + vec3(0., .5, 0.), vec3(5., .05, wallWidth + .015)));
            world = max(world, -sdBox(p, vec3(doorWidth,.5,1.)));
            world = min(world, p.y + .5);
            
            const float RAD90 = 1.5708;
            const float cospi = cos(PI);
            const float sinpi = sin(PI);
            const float cosrad90 = cos(RAD90);
            const float sinrad90 = sin(RAD90*1.1);
            c = mix(cospi, cosrad90, animation);
            s = mix(sinpi, sinrad90, animation);
            
            vec3 doorP = p;
            doorP.xz *= mat2(c, -s, s, c);
            doorP.x += mix(0.001, doorWidth - .005, animation);
            doorP.z += mix(0., doorWidth - .005, animation);
            world = min(world, sdBox(doorP, vec3(doorWidth -.005,.5-.005,wallWidth)));
            
            vec3 plateoffset = vec3(0., -.2, 0.);
            vec2 plateUV = doorP.xy * vec2(-3., 3.) + .5 + plateoffset.xy * 3.;
            float t = 1. - texture2D(u_plate, plateUV).x;
            world = min(world, sdBox(doorP + plateoffset, vec3(doorWidth*.8,.1,wallWidth+.01 * t + .005)));
            
            doorP.x += .12;
            doorP.z -= .05;
            doorP.y += .05;
            world = min(world, sdSphere(doorP, .03));
            
            return world;
        }
        
        vec3 calculate_normal(in vec3 p) {
            const vec3 small_step = vec3(0.0001, 0.0, 0.0);
            
            float gradient_x = world_sdf(vec3(p.x + eps, p.y, p.z)) - world_sdf(vec3(p.x - eps, p.y, p.z));
            float gradient_y = world_sdf(vec3(p.x, p.y + eps, p.z)) - world_sdf(vec3(p.x, p.y - eps, p.z));
            float gradient_z = world_sdf(vec3(p.x, p.y, p.z  + eps)) - world_sdf(vec3(p.x, p.y, p.z - eps));
            
            vec3 normal = vec3(gradient_x, gradient_y, gradient_z);
            return normalize(normal);
        }

        float rayMarching( vec3 origin, vec3 dir, float start, float end, inout float field ) {
            float sceneDist = 1e4;
            float rayDepth = start;
            for ( int i = 0; i < maxIterations; i++ ) {
                sceneDist = world_sdf( origin + dir * rayDepth );

                if (( sceneDist < stopThreshold ) || (rayDepth >= end)) {        
                    break;
                }
                rayDepth += sceneDist * stepScale;
            }
        
            if ( sceneDist >= stopThreshold ) rayDepth = end;
            else rayDepth += sceneDist;
            return rayDepth;
        }

        float calculateAO(vec3 p, vec3 n) {
            const float AO_SAMPLES = 5.0;
            float r = 0.0;
            float w = 1.0;
            for (float i=1.0; i<=AO_SAMPLES; i++) {
                float d0 = i * 0.15;
                r += w * (d0 - world_sdf(p + n * d0));
                w *= 0.5;
            }
            return 1.0-clamp(r,0.0,1.0);
        }
        
        vec3 lighting( vec3 sp, vec3 camPos, int reflectionPass, float dist, float field, vec3 rd) {
            vec3 sceneColor = vec3(0.0);
            vec3 objColor = vec3(1.);
            vec3 surfNormal = calculate_normal(sp);

            vec3 lp = vec3(-0., .3, -1.) + movement;
            vec3 ld = lp-sp;
            vec3 lcolor = vec3(1.,0.97,0.92) * .5;
            
            float len = length( ld );
            ld /= len;
            
            float sceneLen = length(camPos - sp);
            float sceneAtten = min( 1.0 / ( 0.015*sceneLen*sceneLen ), 1.0 );

            vec3 ref = reflect(-ld, surfNormal);
            
            float ao = 1.0;
            float ambient = .3;
            float specularPower = 10.;
            float diffuse = max( 0.0, dot(surfNormal, ld) );
            float specular = max( 0.0, dot( ref, normalize(camPos-sp)) );
            specular = pow(specular, specularPower);
            
            sceneColor += (objColor*(diffuse*0.8+ambient)+specular*0.5)*lcolor*1.3;
            sceneColor = mix(sceneColor, vec3(1.), 1.-sceneAtten*sceneAtten);
            
            return sceneColor;
        }

        void main() {
            vec2 aspect = vec2(u_resolution.x/u_resolution.y, 1.0);
            vec2 uv = (2.0*gl_FragCoord.xy/u_resolution.xy - 1.0)*aspect;
            
            movement = path(u_time);
            
            vec3 lookAt = vec3(-0., 0.2, 1.);
            vec3 camera_position = vec3(0., 0., -1.0);
            
            lookAt += movement;
            camera_position += movement;
            
            vec3 forward = normalize(lookAt-camera_position);
            vec3 right = normalize(vec3(forward.z, 0., -forward.x ));
            vec3 up = normalize(cross(forward,right));

            float FOV = 0.6;

            vec3 ro = camera_position;
            vec3 rd = normalize(forward + FOV*uv.x*right + FOV*uv.y*up);
            
            const float clipNear = 0.0;
            const float clipFar = 8.0;
            float field = 0.;
            float dist = rayMarching(ro, rd, clipNear, clipFar, field );
            if ( dist >= clipFar ) {
                gl_FragColor = vec4(vec3(1.), 1.0);
                return;
            }

            vec3 sp = ro + rd*dist;
            vec3 sceneColor = lighting( sp, camera_position, 0, dist, field, rd);

            gl_FragColor = vec4(clamp(sceneColor, 0.0, 1.0), 1.0);
        }
    </script>

    <div id="container" touch-action="none"></div>

    <div class="message">
        <p>Access denied</p>
        <p>All doors are closing</p>
        <p>Goodbye.</p>
        <br>
        <a href="@Url.Action("Index", "Home")">← Go Back Home</a>
    </div>

    <script>
        let container;
        let camera, scene, renderer;
        let uniforms;

        let loader = new THREE.TextureLoader();
        let texture, plate;
        loader.setCrossOrigin("anonymous");
        loader.load(
            'https://s3-us-west-2.amazonaws.com/s.cdpn.io/982762/noise.png',
            (tex) => {
                texture = tex;
                texture.wrapS = THREE.RepeatWrapping;
                texture.wrapT = THREE.RepeatWrapping;
                texture.minFilter = THREE.LinearFilter;
                loader.load('https://s3-us-west-2.amazonaws.com/s.cdpn.io/982762/403-2.png', (tex) => {
                    plate = tex;
                    init();
                    animate();
                });
            }
        );

        function init() {
            container = document.getElementById('container');
            camera = new THREE.Camera();
            camera.position.z = 1;
            scene = new THREE.Scene();

            var geometry = new THREE.PlaneBufferGeometry(2, 2);

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_noise: { type: "t", value: texture },
                u_plate: { type: "t", value: plate },
                u_mouse: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial({
                uniforms: uniforms,
                vertexShader: document.getElementById('vertexShader').textContent,
                fragmentShader: document.getElementById('fragmentShader').textContent
            });
            material.extensions.derivatives = true;

            var mesh = new THREE.Mesh(geometry, material);
            scene.add(mesh);

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio(window.devicePixelRatio);

            container.appendChild(renderer.domElement);

            onWindowResize();
            window.addEventListener('resize', onWindowResize, false);

            document.addEventListener('pointermove', (e) => {
                let ratio = window.innerHeight / window.innerWidth;
                uniforms.u_mouse.value.x = (e.pageX - window.innerWidth / 2) / window.innerWidth / ratio;
                uniforms.u_mouse.value.y = (e.pageY - window.innerHeight / 2) / window.innerHeight * -1;
                e.preventDefault();
            });
        }

        function onWindowResize(event) {
            renderer.setSize(window.innerWidth, window.innerHeight);
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function animate() {
            requestAnimationFrame(animate);
            render();
        }

        function render() {
            uniforms.u_time.value += 0.01;
            renderer.render(scene, camera);
        }
    </script>
</body>
</html>